<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<!-- Head-->
<div th:replace="fragrams/header :: header"/>
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/nav :: nav"/>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5 vh-100">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="display-4 fw-bolder text-white mb-2"
                        th:text="'Register ' + ${student.name} + ' To Courses'">Register Student To Course</h1>
                </div>
            </div>
        </div>


        <div class="row gx-5 justify-content-center">
            <div class="col-lg-5">
                <form th:action="@{'/courses/'+${student.email}+'/savecoursestouser'}" autocomplete="off" method="post">

                    <div class="input-group mb-3">
                        <input list="courses" id="courses-choice" name="courses-choice" placeholder="Type Course Name"
                               aria-label="Type Course Name" aria-describedby="button-addon2"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                        <datalist id="courses">
                            <span th:each="course: ${studentNotRegisteredToThisCourses}">
                            <option th:value="${course.name}" th:text="${course.name}" th:id="${course.id}">
                            </span>
                        </datalist>


                    </div>


                </form>

                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Instructor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course: ${student.courses}">
                        <th scope="row" th:text="${course.id}"></th>
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.instructor}"></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>


            </div>
        </div>

    </div>


</header>


<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>


</body>
</html>
